apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-init-db
  labels:
    {{- include "app.labels" . | nindent 4 }}}}
data:
  init.sql: |-
{{ .Files.Get "Files/init-database.sql" | nindent 4}} 
